/* COLOR PALLETE */

.material-symbols-outlined {
    font-family: 'Material Symbols Outlined';
    font-weight: normal;
    font-style: normal;
    font-size: 40px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  }

.primary {
    color: #496727 !important;
    background-color: #c9ee9e !important;
}

.secondary {
    color: #59614e !important;
    background-color: #dde6cd !important;
}

.tertiary {
    color: #426462 !important;
    background-color: #c5eae7 !important;
}

/* HTML */
body, p, a {
    font-family: 'Montserrat', sans-serif !important;
    color: #6C7D3F !important;
}

/* NAVBAR */
#nav {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 50px;
    background-color: #fefcf6 !important;
}

#menu {
    position: absolute;
    top: 5px;
    left: 5px;
    height: 40px;
    width: 40px;
}

#logo {
    position: absolute;
    top: 5px;
    left: 50%;
    height: 40px;
    width: 248px;
    margin-left: -124px;
    background-image: url("/img/logo.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#search {
    position: absolute;
    top: 5px;
    right: 5px;
    height: 40px;
    width: 40px;
}

/* MAP */
#map {
    position: fixed;
    top: 50px;
    right: 0;
    bottom: 0;
    left: 0;
}