body, p, a {
    font-family: 'Montserrat', sans-serif !important;
    color: #6C7D3F !important;
}

/* NAVBAR */
#nav {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 50px;
    background-color: #E9E8DC !important;
}

#menu {

}

#logo {
    position: relative;
    top: 5px;
    left: 50%;
    height: 40px;
    width: 248px;
    margin-left: -124px;
    background-image: url("/img/logo.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#search {
    
}

/* MAP */
#map {
    position: fixed;
    top: 50px;
    right: 0;
    bottom: 0;
    left: 0;
}