/* COLOR PALLETE */

.material-symbols-outlined {
    font-family: 'Material Symbols Outlined';
    font-weight: normal;
    font-style: normal;
    font-size: 30px;
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
}

/* HTML */
body,
p,
a {
    font-family: 'Montserrat', sans-serif !important;
    color: #6C7D3F !important;
}

/* NAVBAR */
#nav {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 50px;
    background-color: #fefcf6 !important;
}

#menu {
    position: absolute;
    top: 5px;
    left: 5px;
    height: 40px;
    width: 40px;
    cursor: pointer;
}

#logo {
    position: absolute;
    top: 5px;
    left: 50%;
    height: 40px;
    width: 248px;
    margin-left: -124px;
    background-image: url("/img/logo.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
}

/* MAP */
#map {
    position: fixed;
    top: 50px;
    right: 0;
    bottom: 0;
    left: 0;
}

/* TOOLS */

#tools {
    position: fixed;
    bottom: 5px;
    left: 50%;
    height: 46px;
    width: auto;
    padding: 0 5px;
    margin-left: auto;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
}

.tools_button {
    font-size: 20px ;
    height: 30px;
    width: 30px;
    padding: 2px;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
    background-color: #fefcf6 !important;
    border: 1px solid #6C7D3F;
}

#menu a:last-child {
    border: none;
}

.tools_button:hover {
    color: #fefcf6;
    background-color: #6C7D3F !important;
    border: 1px solid #6C7D3F;
}

#menu a.active {
    background-color: #3887be;
    color: #ffffff;
}

#menu a.active:hover {
    background: #3074a4;
}